.list-group-item.active .label-default {
	background-color: #fff;
	color: #337ab7;
}

.list-group-item .details {
	display: none;
}

.list-group-item.active .details {
	display: block;
}

.label {
	margin-right: 5px;
}
